.notificationcards{
    margin: 1rem auto;
    height: 100%;
}

.notificationcards__list{
    display: flex;
    gap: 1rem;
    margin: 1rem auto;
    padding: 1rem clamp(0.6rem, 2.5vw, 1.5rem);
    border-radius: 1rem;
    cursor: pointer;
}

.notificationcards__list > img{
    width: var(--img-height-width);
    height: var(--img-height-width);
}

.notificationcards__listinfo{
    width: 100%;
}

.notificationcards__listinfo > p{
    display: inline;
    font-size: var(--fs-paragraph);
    color: hsl(219, 12%, 42%);
}

.notificationcards__listinfo > p > b{
    color: hsl(224, 21%, 14%);
}

.notificationcards__listinfo > p > span{
    color: grey;
    font-weight: 600;
}

#group{
    color: hsl(219, 85%, 26%);
    font-weight: 600;
}

#dot{
    height: 0.5rem;
    width: 0.5rem;
    background-color: red;
    border-radius: 50%;
    display: inline-block;
}

#time{
    display: block;
    font-size: var(--fs-paragraph);
    padding-top: 0.1rem;
    color: hsl(219, 14%, 63%);
    font-weight: 200;
}

#message{
    display: block;
    margin-top: 1rem;
    border: 1px solid lightgray;
    border-radius: 0.5rem;
    padding: 1rem;
}

.imgChess{
    float: right;
}