.notifications{
    width: 50%;
    min-height: 53rem;
    background-color: hsl(0, 0%, 100%);
    margin-top: 3rem;
    padding: 0 clamp(1rem, 2.5vw, 2.5rem);
    border-radius: 0.5rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.notifications__header{
    display: flex;
    padding: 2rem 0;
}

.notifications__headerLeft{
    display: flex;
    gap: 0.5rem;
}

.notifications__headerRight{
    width: 100%;
    display: flex;
    justify-content: end;
}

.notifications__headerLeft > h1{
    font-size: var(--fs-header);
}

.notifications__headerLeft > h2{
    font-size: var(--fs-notification);
    border-radius: 0.2rem;
    width: 2rem;
    height: 1.8rem;
    margin-top: 0.3rem;
    background-color: var(--clr-primary-blue);
    color: hsl(0, 0%, 100%);
    text-align: center;
}

.notifications__headerRight > button{
    padding: 0;
    font-size: var(--fs-paragraph);
    background-color: hsl(0, 0%, 100%);
    color: hsl(219, 12%, 42%);
    border: none;
    cursor: pointer;
}